body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 35px;
}

.header {
    background-color: #AF518C;
    text-align: center;
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 49px;
    color: #9CB8E1;
    padding: 15px;
} 

main {
    height: 700px;
    width: 125px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}

button {
    background-color: #AF518C;
    color: #9CB8E1;
    font-size: larger;
    border-radius: 10px;
    padding: 20px 10px;
}

button:hover {
    background: #EF6CBF;
}

footer {
    text-align: center;
}