* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    background-color: antiquewhite;
    font-family: sans-serif;
}

.header {
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
}

button {
    background-color: aquamarine;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

button:hover {
    transform: scale(1.1);
}

.container {
    display: grid;
    width: 700px;
    height: 700px;
    justify-content: center;
    margin-right: 150px;
    background-color: white;
}

.divs {
    border: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}